.container {
  position: relative;

  :hover {
    img {
      cursor: pointer;
      transform: scale(1.1, 1.1);
      transition: all .5s ease;
    }

    .title {
      cursor: pointer;
      transform: scale(1.1, 1.1);
      transition: all .5s ease;
    }
  }

  .image {
    img {
      width: 100%;
      border-radius: 15px;
      object-fit: contain;
      transition: all .5s ease;
    }

    .title {
      position: absolute;
      bottom: .625rem;
      left: .625rem;
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      color: white;
      white-space: nowrap;
      user-select: none;
      transition: all .5s ease;
    }
  }
}
