#container {
  display: inline-flex;
  width: 100%;
  margin: auto 10px 20px;
  color: #9da0b3;
  justify-content: space-between;
}

.content {
  display: inline-flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  width: 46px;
  height: 46px;
  margin-right: 5px;
  cursor: pointer;
  background: #fff2f2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.button-selected {
  .button;

  color: #fff;
  cursor: auto;
  background: #f09199;
}

.num {
  display: inline-flex;
  margin-right: 20px;
  font-size: 14px;
  align-self: center;
}
