#avatar {
  width: 90px;
  height: 90px;
  object-fit: contain;
  border-radius: 50%;
}

#nickname {
  font-size: 22px;
  line-height: 30px;
  color: #3e4252;
}

#nav-container {
  display: flex;
  flex-direction: column;
  gap: 13px;

  .nav-item {
    display: flex;
    width: 210px;
    height: 40px;
    color: rgb(0 0 0 / 70%);
    background: rgb(255 208 214 / 60%);
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      font-size: 18px;
      line-height: 26px;
    }
  }
}
