#avatar {
  position: relative;

  img {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: contain;
  }
}

#nickname {
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  color: #8c8c8c;
  cursor: pointer;
}

#nav-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;

  .nav-item-selected,
  .nav-item {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    color: rgb(0 0 0 / 70%);
    cursor: pointer;
    user-select: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .nav-item-selected {
    color: #f25d8e;
    cursor: default;
    background: rgb(255 208 214 / 60%);
    border-radius: 10px 0 0 10px;

    &::after {
      position: absolute;
      right: -30px;
      width: 30px;
      height: 100%;
      background: rgb(255 208 214 / 60%);
      content: '';
    }
  }
}

#form {
  position: absolute;
}
