#container {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: row;

  .image {
    width: 25%;
    height: fit-content;
    border-radius: 15px;
    flex: 1;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 30px;
    font-size: 16px;
    //font-family: PingFang SC;
    font-weight: 300;
    line-height: 0;
    color: #262626;
    justify-content: space-evenly;
  }
}

.description {
  padding: 16px 24px;
  margin-top: 30px;

  /* 主题色-浅-背景 */
  background: #fff2f2;
  border-radius: 15px;

  .description-text {
    //font-family: PingFang SC;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    color: #595959;
  }
}

.gallery {
  margin-top: 40px;
}
