#container {
  width: 400px;
  height: fit-content;
  padding: 0 0 78px;
  border-radius: 40px;
}

.hot-spot {
  margin-top: 27px;
  margin-left: 45px;

  .recommend {
    .second-row {
      width: 90%;
      margin-top: 12px;
      align-items: center;
    }
  }
}

.city-rec {
  margin-top: 20px;
  margin-left: 45px;

  .city-image {
    margin-top: 20px;
  }
}

.strategy {
  margin-top: 20px;
  margin-left: 45px;

  .imgs {
    margin-top: 8px;
    margin-right: 12px;

    .img {
      width: 45%;
      margin-top: 12px;
      margin-right: 12px;
    }
  }
}
