#container {
  width: 400px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0 6px 16px -8px rgb(0 0 0 / 8%), 0 12px 40px 14px rgb(0 0 0 / 3%);
  border-radius: 40px;
}

.title {
  margin-right: 7px;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 31px;
}

.arrow {
  font-size: 25px;
  font-weight: 1200;
  color: #f09199;
}

.hot-spot {
  margin-top: 27px;
  margin-left: 45px;

  .recommend {
    .second-row {
      width: 90%;
      margin-top: 12px;
      align-items: center;
    }
  }
}

.city-rec {
  margin-top: 20px;
  margin-left: 45px;

  .city-image {
    margin-top: 20px;
  }
}

.strategy {
  margin-top: 20px;
  margin-left: 45px;

  .imgs {
    margin-top: 8px;
    margin-right: 12px;

    .img {
      width: 45%;
      margin-top: 12px;
      margin-right: 12px;
    }
  }
}
