#container {
  position: sticky;
  top: 25px;
  display: flex;
  width: 400px;
  height: fit-content;
  padding: 27px 48px 78px;
  margin: -25px -25px 0 0;
  background: #fff;
  border-radius: 40px;
  flex-shrink: 0;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 6px 16px -8px rgb(0 0 0 / 8%), 0 12px 40px 14px rgb(0 0 0 / 3%);
}

.header {
  position: relative;
  margin: 0 0 20px;

  .title {
    position: relative;
    margin-right: 12px;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 31px;
    user-select: none;
    cursor: pointer;

    &::before {
      position: absolute;
      right: 0;
      bottom: -2px;
      left: 0;
      height: 4px;
      background-color: #f8c8cc;
      content: '';
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform .3s ease;
    }

    &:hover::before {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }

  .arrow {
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
    line-height: 31px;
    color: #f09199;
    user-select: none;
  }
}

.hot-spot .recommend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.hot-spot .recommend div:nth-child(1) {
  grid-column: 1 / 3;
}

.city-rec .city-images {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
}

.strategy .images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
