#container {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  margin: 24px;
}

#sidebar {
  display: flex;
  width: 270px;
  height: fit-content;
  padding: 50px 0;
  background: #fff;
  border-radius: 45px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 20px rgb(242 93 142 / 5%);
  gap: 20px;
}

#content {
  width: 1135px;
  min-height: 970px;
  padding: 50px 52px;
  background: #fff;
  border-radius: 45px;
  box-shadow: 0 2px 20px rgb(242 93 142 / 5%);
}
