@import '~@/App.less';

#container {
  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    background-position: center;
    border-radius: 15px;
  }
}

.work-cover {
  display: flex;
  justify-content: center;
}

.work-name {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #3e4252;
  text-align: center;
  .multi-text-overflow;
}
