#container {
  padding: 20px 12px;

  a {
    text-decoration: none;
  }
}

.work-cover {
  img {
    width: auto;
    height: 230px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
}

.work-name {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #3e4252;
  text-align: center;
}
