.image {
  margin-bottom: 0;
}

.popup-img {
  width: 100%;
  margin-top: 1vh;
}

.city {
  display: block;
  margin-top: .4em;
  font-size: 10px;
}

.name {
  display: block;
  font-size: 12px;
}

.buttons {
  height: 2vh;
  margin-bottom: .75em;
  background-color: white;
}

.like {
  position: relative;
  float: right;
  padding: 0;
  margin-right: .4em;
  margin-bottom: .5em;
  background: none;
  border: none;
}
