.container {
  margin-bottom: 40px;
}

.map-container {
  height: 100%;
  border-radius: 15px;

  .popup-img {
    width: 100%;
  }

  .popup-text {
    font-size: 12px;
    align-content: center;
  }
}
