.container {
  margin-bottom: 40px;
}

.map-container {
  position: relative;
  height: 100%;
  border-radius: 15px;

  .popup-img {
    width: 100%;
  }

  .popup-text {
    font-size: 12px;
    align-content: center;
  }

  .like {
    position: relative;
    float: right;
    width: 1.5vw;
    padding: 0;
    margin-bottom: 5px;
    background: none;
    border: none;
  }
}
