.tag {
  color: #f09199;
  border: 1px solid #f8c8cc;

  svg {
    fill: #f09199;
  }
}

#container {
  display: flex;
  flex-direction: column;
  gap: 45px;

  .title {
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0 0 0 / 85%);

    span {
      margin: 0 8px 0 0;
    }
  }

  .title:first-child {
    margin-bottom: 18px;
  }

  .avatar {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 50%);
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity .3s ease;

      svg {
        width: 50%;
        height: 50%;
      }
    }

    &:hover div {
      opacity: 1;
    }
  }
}

.warn-btn {
  padding: 5px 16px;
  color: rgb(240 145 153 / 100%);
  background: #fff;
  border: 1px solid rgb(247 188 194 / 50%);
  border-radius: 2px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 1.6%);
  transition: all .3s ease;

  &:hover {
    color: #fff;
    background: rgb(240 145 153 / 50%);
    transform: translateY(-4px);
    box-shadow: 0 2px 0 rgb(0 0 0 / 6%);
  }
}
